<html>
  <head>
    <title>Ridesharing App</title>
  </head>
  <body>
    <div class='homepage'>
      <div class="welcome">
        <h1>Ridesharing Application</h1>
        <p>Welcome to Ridesharing, an home where Andelan can request for ride or offer ride to collegues</p>
      </div>
      <div class="">
        <%= link_to ' <button class="new-ride-button">Create New Ride</button>'.html_safe, new_ride_path %>
      </div>
      <div class='grid-master'>
        <div class='grid-left'>
          <a href='google.com'>Ride Offers</a>
          <a href='google.com'>Ride Requests</a>
          <a href='google.com'>Nairobi Rides</a>
          <a href='google.com'>Lagos Rides</a>
          <a href='google.com'>Kampala Rides</a>
          <a href='google.com'>Accra Rides</a>
          <a href='google.com'>Kigali Rides</a>
          <a href='google.com'>Cairo Rides</a>
        </div>
        <div class='grid-right'>
          <div class="grid-cards">
            <% @rides.each do |ride| %>
              <div class="card">
                <div class="container">
                  <h4><b>Ride: </b> <%=ride.ridetype.capitalize %></h4>
                  <p><b>Name: </b>Hillay man</p>
                  <p><b>Origin: </b> <%= ride.origin %></p>
                  <p><b>Destination: </b><%= ride.destination %></p>
                  <p><b>Take Off: </b><%= ride.takeoff.to_formatted_s(:rfc822) %></p>
                  <p><b>Offers: </b><%= ride.noofpeople %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
