<%= form_with(model: ride, local: true) do |form| %>
  <% if ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ridetype %>
    <%= form.number_field :ridetype %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div class="field">
    <%= form.label :takeoff %>
    <%= form.datetime_select :takeoff %>
  </div>

  <div class="field">
    <%= form.label :noofpeople %>
    <%= form.number_field :noofpeople %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
